<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="grid-container">
    <header class="bg-emerald-100 grid-container col-[1/-1]">
      <a href="/" class="col-start-2">Logo</a>
      <nav class="col-start-9 text-right">
        <a href="/">Btn</a>
      </nav>
    </header>

    <section class="bg-teal-500 col-[1/-1] grid-container">
      <h1 class="flex flex-col col-[2/6]">
        BANNER Diomedes <span>Front-end Developer</span>
      </h1>
      <img src="/public/images/coding-5-61.png" alt="" />
    </section>

    <section class="bg-teal-200 col-[2/10]">skils</section>
  </body>
</html>
